/* Home & About */

/* Navbar Dropdown Hover*/
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
}

/* Custom CSS for smooth appearance */
#loadingModal .modal-content {
  border-radius: 10px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

/* Box Rekening Yayasan */
.card-rek {
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-rek:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.05);
}

.copy-btn {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.card-rek:hover .copy-btn {
  display: block; /* Tampilkan tombol saat kartu dihover */
}

/* Carousel(Jumbotron) */
.gallery {
  width: 100%;
  margin-top: 300px;
}

.gallery-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-container .gallery-item {
  height: 250px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-container .gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
}
.gallery-container .gallery-item-2,
.gallery-item-4 {
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}

.gallery-container .gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-container .gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 2;
}

.gallery-container .gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-container .gallery-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px 0;
  height: 100px;
  position: relative;
  z-index: 3;
}

.gallery-controls button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 12px;
  text-transform: capitalize;
}

.gallery-controls-button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid white;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: -250px;
  padding: 10px;
  position: absolute;
  top: 30%;
  transform: rotate(135deg) translateX(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-previous:hover::before {
  /* left: -40px; */
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid white;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -230px;
  top: 30px;
  transform: rotate(-45deg) translateX(50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-next:hover::before {
  /* right: -40px; */
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.gallery nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 10px;
  width: 10px;
}

.gallery nav li.gallery-item-selected {
  background: #555;
}

@media (max-width: 768px) {
  .gallery-controls-previous::before {
    left: -150px; /* Sesuaikan untuk tablet dan perangkat kecil */
    top: 20px;
  }
  .gallery-controls-next::before {
    right: -130px; /* Sesuaikan untuk tablet dan perangkat kecil */
    top: 20px;
  }
  .gallery {
    overflow-x: hidden; /* Menghilangkan overflow-x */
  }
}

@media (max-width: 425px) {
  .gallery-controls-previous::before {
    left: -120px; /* Sesuaikan untuk perangkat ponsel */
    top: 15px;
  }
  .gallery-controls-next::before {
    right: -100px; /* Sesuaikan untuk perangkat ponsel */
    top: 15px;
  }
}

@media (max-width: 320px) {
  .gallery-controls-previous::before {
    left: -70px; /* Sesuaikan untuk perangkat ponsel */
    top: 15px;
  }
  .gallery-controls-next::before {
    right: -50px; /* Sesuaikan untuk perangkat ponsel */
    top: 15px;
  }
}

/* Card untuk Struktur Yayasan dan Pengurus */
.struktur-yayasan,
.pengurus {
  cursor: pointer;
  color: white;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23273036" fill-opacity="1" d="M0,288L34.3,256C68.6,224,137,160,206,154.7C274.3,149,343,203,411,224C480,245,549,235,617,202.7C685.7,171,754,117,823,90.7C891.4,64,960,64,1029,101.3C1097.1,139,1166,213,1234,245.3C1302.9,277,1371,267,1406,261.3L1440,256L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>')
    no-repeat bottom;
  background-size: cover;
  transition: transform 0.3s; 
}

.struktur-yayasan:hover,
.pengurus:hover {
  transform: scale(1.05); 
}

.pengurus,.container-pengurus {
    justify-content: center;
    max-width: 100%;
    
}

/* Halaman Aktivitas/Berita */
/* Slider Images */
/* Tempat Item Foto */
.slider {
  overflow: hidden;
  position: absolute;
  inset: 80px 200px 80px 80px;
  background: none;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 75%;
  margin-top: 10px;
}

/* Kotak kecil Imgae */
.slider .slides {
  position: absolute;
  top: 49%;
  left: 258%;
  transform: translate(-50%);
  width: 160px;
  height: 200px;
  background: var(--img);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: 0.25s;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover;
}

.slider .slides:nth-child(3) {
  left: calc(50% + 340px);
  background-size: cover;
}

.slider .slides:nth-child(4) {
  left: calc(50% + 520px);
  background-size: cover;
}

.slider .slides:nth-child(5) {
  left: calc(50% + 698px);
  background-size: cover;
}

.slider .slides:nth-child(n + 6) {
  left: calc(50% + 1200px);
  background-size: cover;
  opacity: 0;
}

/* Button Prev anda Nexrt */
.buttons {
  position: absolute;
  bottom: -100px;
  display: flex;
  gap: 20px;
  left: 45%;
}
.buttons span {
  position: relative;
  width: 40px;
  height: 40px;
  background: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.buttons span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  top: 50%; /* Posisikan di tengah vertikal */
  left: 50%; /* Posisikan di tengah horizontal */
  transform: translate(-50%, -50%) rotate(-135deg); /* Pusatkan dan rotasi */
}

.buttons span:nth-child(2)::before {
  transform: translate(-50%, -50%) rotate(45deg); /* Pusatkan dan rotasi */
}

.buttons span:active {
  opacity: 0.5;
}

.content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: Os;
  transform: translateY(40px);
  opacity: 0;
}
.content h2 {
  font-size: 3em;
  color: white;
}
.content p {
  color: white;
}

.slider .slides:nth-child(1).content,
.slider .slides:nth-child(2) .content {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: O.5s;
}

/* Ini saya mau atur jika ukuran full maka begini
.videoKegiatanYBG {
  margin-top: 680px;
}
   */
/* Responsive */

@media (max-width: 1440px) {
  .slider {
    margin-top: 100px;
  }

  .buttons {
    bottom: -150px;
    display: flex;
    gap: 20px;
    left: 45%;
  }
  .videoKegiatanYBG {
    margin-top: 680px;
  }
}

@media (max-width: 1024px) {
  .slider {
    margin-top: 120px;
  }

  .slider .slides {
    position: absolute;
    top: 45%;
    left: 200%;
    transform: translate(-120%);
    width: 140px;
    height: 180px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.25s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .slider .slides:nth-child(3) {
    left: calc(50% + 290px);
  }

  .slider .slides:nth-child(4) {
    left: calc(50% + 440px);
  }

  .slider .slides:nth-child(5) {
    left: calc(50% + 590px);
  }

  .slider .slides:nth-child(n + 6) {
    left: calc(50% + 1200px);
    opacity: 0;
  }

  .buttons {
    bottom: -170px;
  }

  .container .videoKegiatanYBG {
    margin-top: 470px;
  }
}

@media (max-width: 768px) {
  .content {
    position: relative;
    padding: 40px;
    max-width: 400px;
    transition: 0.25s;
    transform: translateY(40px);
    opacity: 0;
  }

  .content h2 {
    font-size: 2em;
    color: white;
  }

  .content p {
    color: white;
  }
  .container .videoKegiatanYBG {
    margin-top: 470px;
  }
}

@media (max-width: 425px) {
  .content {
    padding: 15px;
    max-width: 280px;
    transition: 0.25s;
    transform: translateY(40px);
    opacity: 0;
  }

  .content h2 {
    font-size: 1em;
    color: white;
  }

  .content p {
    color: white;
  }

  /* Slider */
  .slider .slides {
    position: absolute;
    top: 5%;
    left: 200%;
    transform: translate(-300%);
    width: 80px;
    height: 100px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.25s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .slider .slides:nth-child(3) {
    left: calc(50% + 340px);
  }
  .buttons {
    bottom: -160px;
    display: flex;
    gap: 20px;
    left: 40%;
  }
  .container .videoKegiatanYBG {
    margin-top: 470px;
  }
}

@media (max-width: 375px) {
  /* Slider */
  .slider {
    margin-top: 140px;
  }

  .slider .slides {
    position: absolute;
    top: 5%;
    left: 200%;
    transform: translate(-230%);
    width: 100px;
    height: 130px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.25s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .slider .slides:nth-child(3) {
    left: calc(50% + 280px);
  }

  .buttons {
    bottom: -180px;
    display: flex;
    gap: 20px;
    left: 38%;
  }

  .container .videoKegiatanYBG {
    margin-top: 470px;
  }
}

@media (max-width: 320px) {
  .slider .slides:nth-child(3) {
    left: calc(50% + 280px);
    opacity: 0;
  }

  .buttons {
    bottom: -190px;
    display: flex;
    gap: 20px;
    left: 35%;
  }

  .slider {
    margin-top: 150px;
  }
  .container .videoKegiatanYBG {
    margin-top: 470px;
  }
}

/* CARD OFR PENGURUS */
.card-wrapper {
  max-width: 1200px;
  width:100%;
  margin: 30px auto;
  
}

.card-wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns; calc((100%/3)) - 12px;
  gap: 20px;
  overflow: auto;
}


/* Untuk Chrome, Safari, dan Edge */
.card-wrapper .carousel::-webkit-scrollbar {
  display: none; /* Menyembunyikan scrollbar */
}

.carousel :where( .card-profile,.img){
  display : flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.carousel .card-profile {
  margin-top:10px;
  margin-bottom: 10px;
  list-style: none;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 10px;
  display : flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  transition:0.5s;
}

.carousel .card-profile:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 

  .btn {
    background : black;
    border:none;
    opacity: 1;
    visibility: visible; 
    transition: opacity 0.8s ease, visibility 0s; 
  }


}

.card-profile .img {
  background: black;
  border-radius : 50%;
  width: 150px;
  height: 150px;
}

.card-profile .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius:50%;
  margin :5px;
}

.card-profile h2 {
  font-weight : 500;
  margin-top: 10px;
}

.card-profile span {
  font-size: 17px;
  color: #777;
}

.carousel .card-profile {
  height:345px;
}
.carousel .card-profile .btn {
  background: transparent; 
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s; 
  border:none;

}

/* Program Page */
/* carousel 1 */
.carousel-indicators li {
  background-color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Menambahkan box shadow */
  width: 20px;
  margin:10px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border:2px solid white;
}

.carousel-indicators .active {
  background-color: white;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: black;
  font-size: 20px;
}
/* carousel2 */
#carousel2 .carousel-indicators li {
  background-color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Menambahkan box shadow */
  width: 20px;
  margin: 10px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid white;
}

#carousel2 .carousel-indicators .active {
  background-color: white;
}

#carousel2 .carousel-control-prev-icon,
#carousel2 .carousel-control-next-icon {
  background-image: none;
}

#carousel2 .carousel-control-prev,
#carousel2 .carousel-control-next {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel2 .carousel-control-prev i,
#carousel2 .carousel-control-next i {
  color: black;
  font-size: 20px;
}

/* carousel 3 */


/* Chart */
.chart-bar {
  position: relative;
  height: 10rem;
  width: 100%;
}

@media (min-width: 768px) {
  .chart-bar {
    height: 15rem;
  }
}

.chart-pie {
  position: relative;
  height: 15rem;
  width: 100%;
}
@media (min-width: 768px) {
  .chart-pie {
    height: 15rem;
  }
}
